#sobre-contener{
    background: rgb(22,22,22);
    background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(237,246,243,0.9794292717086834) 15%, rgba(236,252,248,1) 50%, rgba(234,252,247,1) 85%, rgba(22,22,22,1) 100%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
}
#info-box {
    width: 80vw;
    margin: auto;
    margin-top: 200px;
    top: 40%;
    text-align: center;
    position: relative;
    bottom: 100px;

}
#titulo-info {
margin: 50px;
}

#logo-sobre {
    display: flex;
}
#img-sobre{
    border-radius: 50%;
    height: 500px;
}
#sobre-fundo {
    position: absolute;
    width: 100vw;
}
