:root{
    --color-01-: #fff;
    --color-02-: rgb(167, 171, 184);
    --color-03-: yellow;
    --color-04-: green;
    --color-05-: yellowgreen;
    --color-06-: black




}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
#header {
   width:100vw ;
   height: 5vh;                     

}

#list {
    margin-left: auto;
    list-style: none;
    display: flex;
    font-size: 26px;
    justify-content: center;
}

#list > a {
    color: rgba(0, 0, 0, 0.700);
    margin: 0px 15px;
    margin-top: auto;
    padding: 7px;
    
}


.list-item {
    text-decoration: none;
    border-radius: 10px;
    width: fit-content;
}

.list-item:hover {
    color: rgb(12, 12, 12);
}

#button-link {
    margin-right: 5vw;
    margin-left: 2vw;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 120px;
    height: 38px;
    border-radius: 5px;
    font-size: 22px;
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.116);
}
.btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
#login-icon {
    padding: 0px 3px;
    margin: 0;
    margin-top: 5px;
    width: 15px;
}

#home-link {
    margin-left: 7vw;

    color: rgba(0, 0, 0, 0.700);
}

#header-home {
    font-size: 29px;
    padding-top: 10px;
    width: fit-content;
    margin: auto;
    font-weight: lighter;

}
#header-home:hover {
    color: rgb(14, 13, 13);
    font-weight: lighter;
}

#icon {
    margin: auto;

    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 50px;
    width: 30px;
    padding: 4px;
    background-color:  rgba(0, 128, 0, 0.76);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

#icon:hover {
    background-color: black;
    color: white;
}

#menu-responsivo {
    width: 0vw;
    height: 100vh;
    background-color: black;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 0.5s; 
}

#ham {
    display: none;
    background-color: #fff;
    font-size: 30px;
    border: none;
    padding: 5px;
    width: 40px;
    cursor: pointer;
}

#log-user {
    font-size: 30px;
    border: none;
    padding: 5px;
    width: 40px;
}

#menu-list {
    display: none;
    width: 0vw;
    height: 100vh;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 0.5s;        

}

#mask {
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.315)
}



#menu-over {
    top: 25%;
    width: 30vw;
    height: 100vh;
    text-align: center;
    padding-top: 80px;
    background-color: rgb(15, 15, 15);
    z-index: 10;
}

#login-over {
    top: 25%;
    width: 30vw;
    height: 100vh;
    text-align: center;
    padding-top: 40px;
    z-index: 10;
    margin: 0 0 0 50px;
}

#menu-over > a {
    padding: 5px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 25px;
    transition: 0.5s;
}

#login-over > a {
    padding: 5px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 25px;
    transition: 0.5s;
}

#fechar {
    width: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
    
}

#menu-over > a:hover {
    color: grey;
}

#login-over > a:hover {
    color: grey;
}

#ham:hover {
    color: white;
    background-color: black;
}

#log-user:hover {
    color: white;
    background-color: black;
}


#fechar:hover {
    background-color: gray;
    color: black;
}

#menu-normal {
    height: 50px;
    margin: 0;
    background-color: #fff;
    box-shadow: 1px 1px 4px var(--color-06-);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 5;
}

#button-header {
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 900px) {
    #header {
        height: 8vh;
    }

    #menu-list {
        display: flex;
    }

    #ham {
        display: block;

    }

    .btn {
        width: 85px;
        height: 35px;
        font-size: 19px;
        margin-top: 2px;
    }

    .resp {
        display: none;
    }
    
}

