*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}
.event-container {
    height: 90vh;
}

.event-tittle {
    margin: 50px;
    text-align: center;
    color: rgb(20, 20, 20);
    font-weight: bold;
}
.context {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    
}

.carousel {
    margin: auto;
    display: flex;
    align-items: center;
}

.evento-lista {
    
    margin: auto;
    width: 45vw;
    max-height:fit-content;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.info {
    width: fit-content;
    margin: auto;
    height: 14px;
    display: flex;
    flex-direction: column;

    
}
.info .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;

}

.item {
    width:100%;
    height: 600px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;    

    
}

.img-evento {
    width:fit-content;
    height: 80%;
    object-fit: cover;
    border: 2px solid white;
    overflow-x:hidden;

}

.item:hover {
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid black;
}

.arrowF, .arrowB {
    font-size: 50px;
    color: black;
    cursor: pointer;
    padding: 0 10vw;
}



@media screen and (max-width: 900px) {
    .item {
        width: 100vw;
        height: 40vh;
        margin: 20px 0;
    }

    .img-evento {
        width: 20vw;
        height: 20vh;
    }

    .event-tittle {
        margin: 30px 0;
    }

    .context {
        width: 80vw;
    }

}