#page-login {
    padding: 50px;
    width: 40vw;
    margin: 200px auto;
    border: 1px  solid black;
}
#login-tittle {
    text-align: center;
    margin-bottom: 50px;
}
#login-usuario {
    margin-top: 20px;

}

#login-register {
    margin-left: 400px;
}