#page-login {
    padding: 50px;
    width: 40vw;
    margin: 200px auto;
    border: 1px  solid black;
}
#login-tittle {
    text-align: center;
    margin-bottom: 50px;
}
#login-usuario {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

#login-user {
    margin-top: 20px;
}


.btnLogin {
    margin-top: 20px;

}

@media screen and (max-width: 900px) {
    #page-login {
        width: 70vw;
    }

    #login-register {
        margin: 10px 50px 0  0;

    }

    #login-usuario {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 0 ;
    }
    
}