body {
    margin: 0;
    padding: 0;
    height: 0px;
}

#page-home {
    width: 100%;
}

#intro {
    height:fit-content ;
}
#img-intro {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.363);
    width: 99.2vw;
    height: 700px;
    margin: 0;
}
#descricao-site {
    font-family: Source Sans Pro,sans-serif;;
    color: white;
    text-align: center;
    background-color: green;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: -5px;
}

#descricao-butao {
    font-weight: bold;
    cursor: pointer;
    color:  black;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    height: 40px;
    width: 200px;
}

#descricao-butao:hover {
    color: white;
    background-color: black;
}

#painel-home{
    background-color: rgba(0, 128, 0, 0.829);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#projeto-info {
    display: flex;
    color: white;
    padding: 20px;
    text-align: center;
    width: 80vw;
    border-radius: 15px;
}

#imagem-projeto {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    width: 700px;
    height: 500px;
    border: 10px solid white;
}

#butao-projeto {
    font-weight: bold;
    cursor: pointer;
    color:  black;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    height: 40px;
    width: 200px;
}

#butao-projeto:hover {
    color: white;
    background-color: black;
}

#eventos {
    color: white;
    background-color: rgba(0, 128, 0, 0.76);
    text-align: center;
    width: 99.2vw;
    justify-content:space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

#eventos > a {
    color: white;
}

#eventos-contener {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    padding: 50px;
}

.event-text-box {
    width: 50%;
    padding: 30px;
    font-size: 22px;
}

.tittle-event {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 40px;

}

#img-event {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    border: 10px solid white;
    height: 500px;
    width: 700px !important;
}




